In previous projects we have seen and analyzed the Neighborhoods in cities such as Toronto and New York. This time, and as I live in Chicago, the main gal is to determine which is the best neighborhood, in terms of restaurants, in Chicago. In addition, we will group the by clusters to see which of them are similar, these means, whicho other neighborhoods are also good to eat.

The dataset I will used is the next one: https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [3]:
page = 'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago'    
wikitables =pd.read_html(page, index_col=0, attrs={"class":"wikitable"})     
wikitables[0].to_csv('chicago.csv') #Just the first table is important

In [4]:
df_chi=pd.read_csv('canada.csv', header=1)

In [5]:
df_chi.head()

      Neighborhood  Community area
0      Albany Park     Albany Park
1  Altgeld Gardens       Riverdale
2    Andersonville       Edgewater
3   Archer Heights  Archer Heights
4    Armour Square   Armour Square